body {
	background-color: #2f2f2f;
	background: url("../img/ionia.jpg");
	background-attachment: fixed;
	background-position: center top;
}

a {
	color: #ffdb4c;
}

well {
	background-color: rgba(0, 0, 0, 0.4);
}

.container {
	padding-top:30px;
}

.match {
	padding: 14px;
	margin-bottom: 14px;
}

.imgChampion {
	width: 80px;
	height: 80px;
}

.imgitem32 {
	width: 32px;
	height: 32px;
}

.matchcell {
	padding: 5px 8px;
	display: table-cell;
	vertical-align: middle;
}

.winmatch {
	background-color: #004d14;
}

.lossmatch {
	background-color: #4f0011;
}

.winmatch .resultText {
	font-size: 16px;
	font-weight: bold;
	color: #66CC33;
}

.lossmatch .resultText {
	font-size: 16px;
	font-weight: bold;
	color: #DD7777;
}

.littleChampIcon {
	padding: 0px;
	width: 18px;
	height: 18px;
}

.championcell {
	width: 80px;
	height: 80px;
}

.nodatacell {
	width: 340px;
	text-align: center;
}

.headcell {
	width: 124px;
}

.kdacell {
	width: 128px;
}

.playerscell {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
}

.selfUser {
	font-weight: bold;
	text-shadow: 0px 0px 5px #000000;
}

.playerLine {
	height: 16px;
}

.line {

}

.kdaNumber {
	font-weight: bold;
	width: 40px;
	display: inline-block;
	text-align: right;
	color: #d6d6d6;
}

.minion {
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.gold {
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.singleitemcell {
	width: 32px;
	height: 32px;
}

.ss img {
	width: 36px;
	height: 36px;
}

.icon {
	padding: 1px 0px;
	margin: 0px;
}

.number {
	font-weight: bold;
}

select[disabled] {
   background-color: #171717;
   color: #333333;
}

input[disabled] {
	background-color: #171717;
	color: #333333;
}

.control-label .checkbox.inline {
	padding-top: 0px;
}

.littleSummonerLinkName {
	font-size: 75%;
	height: 16px;
	width: 120px;
	padding: 0px 1px;
}

.littleSummonerLinkId {
	font-size: 75%;
	height: 16px;
	width: 120px;
	padding: 0px 1px;
}

.littleSummonerLinkId a {
	color: #bfa039;
}

.error404flavourText {
	margin-top: 70px;
	text-align: center;
}

.recallLink {
	text-decoration: none !important;
}

footer {
	padding-left: 1px;
	font-size: 70%;
	color: #c6c6c6;
}

footer a {
	color: #dbdbdb;
}

footer p {
	margin-bottom: 0px;
}

/* 
 * Changes to darkstrap
 */

[class^="icon-"],
[class*=" icon-"] {
	background-image: url("/libs/bootstrap/img/glyphicons-halflings-white.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
	background-image: url("/libs/bootstrap/img/glyphicons-halflings-white.png");
}

.datepicker.dropdown-menu {
	color: #333333;
}

.add-on {
	background-color: #404040 !important;
	color: #c6c6c6 !important;
	border: 1px solid #101010 !important;
	text-shadow: 0 1px 0 black  !important;
}

.disabled > .add-on {
	color: #333333 !important;
}

.alert-error h1, .alert-error h2, .alert-error h3, .alert-error h4, .alert-error h5, .alert-error h6 {
	color: #D8040B;
}

.alert-error {
	border-color: #D8040B;
}

#stats-table {
	width: auto;
	margin-bottom: 0px;
}

#stats-table td {
	border: 0;
}

#stats-table td.right {
	padding-right: 12px;
}

#stats-table td.left {
	padding-left: 12px;
}

#stats-table .number {
	color: #FFFFFF;
	font-weight: bold;
}

#trackedSummoners thead {
	background-color: rgba(0,0,0,0.3);
}

#trackedSummoners tr:hover td {
	background-color: rgba(255,255,255,0.1);
}

#trackedSummoners form {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#filter-button {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 0px;
	max-height: 40px;
}

#filter-button :first-child {
	height: 30px;
	max-height: 30px;
	padding-bottom: 10px;
}

#filter-legend {
	border-bottom: 1px solid #121212;
}

#filter-legend :first-child {
	padding: 0px;
}

#filter-legend :first-child:hover {
	padding: 0px;
	color: #ffdb4c;
}

/* Scrollable table */
/* CSS found on http://www.imaputz.com/cssStuff/bigFourVersion.html */

/* define height and width of scrollable area. Add 16px to width for scrollbar */
div.scrollableTableContainer {
	clear: both;
	border: 1px solid #000;
	border-radius: 4px;
	height: 300px;
	overflow: auto;
	width: 422px
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.scrollableTableContainer {
	overflow: hidden;
	width: 422px
}

/* define width of table. IE browsers only                 */
div.scrollableTableContainer table {
	float: left;
	width: 406px
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.scrollableTableContainer table {
	width: 422px
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of scrollableTableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	text-align: center
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 264px;
	overflow: auto;
	width: 100%;
	text-align: center;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	padding: 2px 3px 3px 4px
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 60px
}

html>body thead.fixedHeader th + th {
	width: 144px
}

html>body thead.fixedHeader th + th + th {
	width: 80px
}

html>body thead.fixedHeader th + th + th + th {
	width: 138px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 60px
}

html>body tbody.scrollContent td + td {
	width: 144px
}

html>body tbody.scrollContent td + td + td {
	width: 80px
}

html>body tbody.scrollContent td + td + td + td {
	width: 138px
}