body {
	background-color: #2f2f2f;
	background: url("../img/ionia.jpg");
	background-attachment: fixed;
	background-position: center top;
}

a {
	color: #ffdb4c;
}

well {
	background-color: rgba(0, 0, 0, 0.4);
}

.container {
	padding-top:30px;
}

.match {
	padding: 14px;
	margin-bottom: 14px;
}

.imgChampion {
	width: 80px;
	height: 80px;
}

.imgitem32 {
	width: 32px;
	height: 32px;
}

.matchcell {
	padding: 5px 8px;
	display: table-cell;
	vertical-align: middle;
}

.winmatch {
	background-color: #004d14;
}

.lossmatch {
	background-color: #4f0011;
}

.winmatch .resultText {
	font-size: 16px;
	font-weight: bold;
	color: #66CC33;
}

.lossmatch .resultText {
	font-size: 16px;
	font-weight: bold;
	color: #DD7777;
}

.littleChampIcon {
	padding: 0px;
	width: 18px;
	height: 18px;
}

.championcell {
	width: 80px;
	height: 80px;
}

.nodatacell {
	width: 340px;
	text-align: center;
}

.headcell {
	width: 124px;
}

.kdacell {
	width: 128px;
}

.playerscell {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
}

.selfUser {
	font-weight: bold;
	text-shadow: 0px 0px 5px #000000;
}

.playerLine {
	height: 16px;
}

.line {

}

.kdaNumber {
	font-weight: bold;
	width: 40px;
	display: inline-block;
	text-align: right;
	color: #d6d6d6;
}

.minion {
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.gold {
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.singleitemcell {
	width: 32px;
	height: 32px;
}

.ss img {
	width: 36px;
	height: 36px;
}

.icon {
	padding: 1px 0px;
	margin: 0px;
}

.number {
	font-weight: bold;
}

select[disabled] {
   background-color: #171717;
   color: #333333;
}

input[disabled] {
	background-color: #171717;
	color: #333333;
}

.control-label .checkbox.inline {
	padding-top: 0px;
}

.littleSummonerLinkName {
	font-size: 75%;
	height: 16px;
	width: 120px;
	padding: 0px 1px;
}

.littleSummonerLinkId {
	font-size: 75%;
	height: 16px;
	width: 120px;
	padding: 0px 1px;
}

.littleSummonerLinkId a {
	color: #bfa039;
}

.error404flavourText {
	margin-top: 70px;
	text-align: center;
}

.recallLink {
	text-decoration: none !important;
}

/* 
 * Changes to darkstrap
 */

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/libs/bootstrap/img/glyphicons-halflings-white.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("/libs/bootstrap/img/glyphicons-halflings-white.png");
}

.datepicker.dropdown-menu {
	color: #333333;
}

.add-on {
  background-color: #404040 !important;
  color: #c6c6c6 !important;
  border: 1px solid #101010 !important;
  text-shadow: 0 1px 0 black  !important;
}

.disabled > .add-on {
  color: #333333 !important;
}

.alert-error h1, .alert-error h2, .alert-error h3, .alert-error h4, .alert-error h5, .alert-error h6 {
  color: #D8040B;
}

.alert-error {
  border-color: #D8040B;
}

#stats-table tr {
	width: 1px;
}

#stats-table td {
	width: 1px;
}