<?
/*
This is the config file of LoLarchive.
This file isn't accessible from outside your site (if everything's configured right)
Don't tell the password or API key to other people...
*/

/*
	Basic configuration
*/

// HOST is the location of the database you're going to use.
// If you don't know what to put here, leave "localhost"
define('HOST', "localhost");

// DBNAME is the name of the database you'll use to store LoLarchive's data
// Please select an empty database
define('DBNAME', "lolarchive");

// USERNAME is the name of the user LoLarchive is going to use to communicate
// with the database. It need to have the following rights on the the database:
// SELECT, INSERT, DELETE, UPDATE
define('USERNAME', "yourUserName");

// PASSWORD is the password associated with the USERNAME you provided.
define('PASSWORD', "yourPassword");

// API_KEY is the key that will be sent with each cURL request. If you don't
// have any, look at how to get one for legendaryapi.net
define('API_KEY', "ApiKeyOfRiotGamesDevelopers");

// Path to the root directory of LoLarchive (The one directly containing index.php)
// from the root of your machine.
define('LOCAL', "/var/www/lolarchive/");

// Path to the root directory of LoLarchive (The one directly containing index.php)
// from your domain name when accessed through HTTP.
define('PATH', "/");

// PROD_KEY defines if the key you wrote just above is a RiotGame's Production Key.
// By default, Riot Games gives you a developement key, which has more limitations.
// Use the register process on https://developer.riotgames.com to have your site
// approved and recieve a production key. If the key you wrote is a production key,
// set the next line to 'TRUE' instead of 'FALSE'.
define('PROD_KEY', FALSE);

/*
	Optional
*/

// LINKTO_LOLKING tells if a link to summoners' Lolking page should be displayed
// on their page.
define('LINKTO_LOLKING', FALSE);

// SHOW_TRACKED_SUMMONERS tells if the search page should show a list of tracked
// summoners for easier searches.
define('SHOW_TRACKED_SUMMONERS', TRUE);

/* 
	Advanced configuration 
*/

// GAME_API_VERSION should be the value of the latest version of the
// game method of Riot Games' API. To be sure it is correct, check it out at
// http://developer.riotgames.com/api/methods#!/618
define('GAME_API_VERSION', '1.3');

// SUMMONER_API_VERSION should be the value of the latest version of the
// summoner method of Riot Games' API. To be sure it is correct, check it out at
// http://developer.riotgames.com/api/methods#!/620
define('SUMMONER_API_VERSION', '1.4');

// STATIC_DATA_VERSION should be the value of the latest version of the
// summoner method of Riot Games' API. To be sure it is correct, check it out at
// http://developer.riotgames.com/api/methods#!/710
define('STATIC_DATA_VERSION', '1.2');

// API_URL is the url pointing to the API you're using.
define('API_URL', "https://prod.api.pvp.net/api/lol/");

/*                    _
                     / \
                    / ! \
                   /_____\
	
	It is strongly recommended to not touch the following configuration if you have
	set PROD_KEY to FALSE
*/

// QUERY_FOREIGN_SUMMONER_NAME_WHEN_PLAYER_ACCESSED tells if the database should ask
// the API about the name of an unknown summoner when his player page is accessed.
define('QUERY_FOREIGN_SUMMONER_NAME_WHEN_PLAYER_ACCESSED', FALSE);

// QUERY_FOREIGN_SUMMONER_DATA_WHEN_PLAYER_ACCESSED tells if the database should ask
// the API about the data of recent games of an unknown summoner when his player
// page is accessed.
// But for now, it is not implemented, so it won't do anything. :(
define('QUERY_FOREIGN_SUMMONER_DATA_WHEN_PLAYER_ACCESSED', FALSE);

// IMMEDIATE_QUERY_SUMMONER_NAMES defines if the databse should ask the API for
// the summoner names of all the foreign summoners participating in a game directly
// when that game is registered.
define('IMMEDIATE_QUERY_SUMMONER_NAMES', FALSE);

/*
	Constants

	You normally have no reason at all to change this.
*/

define('SUMMONER_NAME_MAX_LENGTH', 16);
define('SUMMONER_ID_MAX_LENGTH', 16);
define('STATIC_RESOURCES', "http://ddragon.leagueoflegends.com/cdn/");
define('STATIC_RESOURCES_VERSION', "4.7.8");
define('ADMIN_PAGE_LOGS_NB_LINES_DISPLAYED', 50);

// IMMEDIATE_QUERY_PARTICIPANTS_DATA defines if the databse should ask the API for
// the data of all participants of a game in which at least one of the tracked 
// summoners took part in, at the moment it is registered.
// 
// Special case for this constant.
// As said in commit 48ae3b69ce529aee502152c0c5434837e2244a18
// and on GitHub issue https://github.com/Protectator/LoLarchive/issues/44 ,
// this is
// ----> UNSTABLE <----
// It does TONS of API requests and SQL executions for not that much usefulness.
// I REALLY don't recommand turning that option on. I'm just keeping it here
// because it is implemented and it would be stupid to erase it all. But really
// be aware of what this option does before enabling it. Do it at your own risks
// :)
define('IMMEDIATE_QUERY_PARTICIPANTS_DATA', FALSE);
?>